<h2>Order Details</h2>

<div id="ordered_extras" />

<div id="hotel_cost">
  {{#hotel}}
  Hotel Option: {{hotelName}}
  <br />
  Length of Stay: {{lengthOfStay}}
  {{/hotel}}
</div>

<div id="order_cost">
  Total Price: ${{price}}.00
</div>

<input type="button" value="Order..." class="hide" id="order_send">
