<div class="trip_header">
  <a href="/trips/{{id}}"
     class="detail_page_link"
     id="detail_page_link_{{id}}">{{name}}</a>
</div>
<div class="trip_tag">{{tag_line}}</div>
<div class="trip_dates">{{startDateDisplay}} - {{endDateDisplay}}</div>
<div style="text-align: center">
  <img src="assets/{{image_name}}" height="150" width="150" />
</div>
<div class="trip_price">{{priceDisplay}}</div>
<div class="trip_links">
  <a class="trip_detail_link" href="#">Show Details</a>
  <div class="hidden trip_details">{{description}}</div>
</div>
