<div class="container">
  <h1>Time Travel Adventures Administrative Screen</h1>

  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li>{{#linkTo index}}Trips{{/linkTo}}</li>
        <li>{{#linkTo users}}Users{{/linkTo}}</li>
      </ul>
    </div>
  </div>

  {{outlet}}

</div>

