<tr>
  <th>
    {{#link-to "hotel" hotel}}
      {{hotel.name}}
    {{/link-to}}
  </th>
  <td>
    {{number-editor emberObject=hotel
        propName="nights_ordered"
        action="itemChanged"}}
  </td>
  <td>${{hotel.price}}</td>
  <td>${{hotel.revenue}}</td>
</tr>

