<div class="admin_trips span-12">
  {{#each trip in controller}}
    <div class="trip">
      <div class="header">{{trip.name}}</div>
      <div class="dates">{{trip.startDateDisplay}} - {{trip.endDateDisplay}}</div>
      <div class="price">{{trip.priceDisplay}}</div>
    </div>
  {{/each}}
</div>
<div class="detail_view span-12">
  <h2>Details</h2>
</div>

